body {
    background-color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

*{
    margin: 0;
}

.image-profile {
    width: 200px;
    border-radius: 50%;
    border: solid 3px rgb(75, 73, 73)
}

#title, .sub-title, .post-title {
    color: rgb(44, 42, 42);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-transform: uppercase;
    color: #505050;
    text-decoration: none;
}

a:hover{
    color: #000;
}

.post-title {
    font-size: 16px;
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;

    border: 3px solid rgb(145, 144, 144);
}

.post-content {
    margin-bottom: 15px;
    text-align: justify;

}

.post-image {
    margin-bottom: 15px;
    width: 100%;

}

.contact-list {
    list-style-type: none;
}